.right-side{
    position: fixed;
    display: inline-block;
    align-content: right;
    margin-right: 0px;
    margin-left: auto;
    width: 100%;
    height: 100%;
    z-index: 9;
    border: 1px solid black;
    vertical-align: top;

    
}

.left-side {
    position: relative;
    width: 80%;
    display: inline-block;
    min-height: 600px;
    max-height: 8000px;




}

.contributors{
    display: block;
    height: 50%;

}

.deliverables {
    height: 50%;

}

h1 {
    margin: 0px;
}

ul {
    list-style: none;
}

.project-wrapper{
    font-weight: 200;
    font-size: 2rem;
    background-color: #1f2833;
    margin: 10px;
    height: 80px;
    border-radius: 10px;
    width: 80%;
    overflow: hidden;
    
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.note{

    padding: 10px;
    border-bottom: 1px solid grey;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.task{

    text-decoration: line-through;
    padding: 10px;
    border-bottom: 1px solid grey;
    width: 80%;
    background-color: #212121;
    margin-left: auto;
    margin-right: auto;

}

.note-user{
    font-size: .75rem;
    margin-left: 75%;
}

.deliverable {
    width: 10%;
}

.project-title{
    margin-left: 10%;
}


.note-form{
    position: fixed;
    margin-bottom: 20px;
    width: 65%;
    bottom: 0;
    height: 50px;
    margin-left: 5%;
    background-color: #c5c6c7


}
 .project-title-card{
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #66fcf1;
 }
 a.project-title-card{
     color: #66fcf1;
 }

 .action-button-2 {
    font: inherit;
    margin: 10px;
    padding: 1em;
    width: 200px;
    font-weight: 500;
    background-color: #66fcf1;
    border-radius: 6px;
    color: #1f2833;
    border: 0;

 }

 a.link-black{
     color: black;
 }


 .center-div{
     display: inline-block;
     width: 100%;
 }

 .admin-add {
     width: 80%;
     margin-left: 7%;
 }

 .admin-form{
     padding: 10px;
     width: 80%;

 }

 .wide {
     width: 50%;
     height: 50px;
     background-color: #c5c6c7;
 }

 .posts{
     max-height: 550px;
     overflow-y: auto;
 }