.chat-box {
    display: inline-block;
    position: relative;
    background-color: white ;
    width: 80%;
    height: 300px;
    margin-left: 50px;
    border-radius: 10px;
    overflow-y:auto;
    padding-top: 10px;
    padding-bottom: 50px;
    height: 600px;
}
.user-name-box{
    margin-left: 50px;
}

.message-input{
    margin-left: 45px;
    width: 79%;
    border-radius: 10px;
    padding: 10px;
}

.sent{
	position: relative;
	color:black;
	padding: 10px 10px 10px 12px;
	border-radius: 10px;
	float: right;
	text-align: right;
	background-color: #66fcf1;
	flex-direction: column;
    margin-left: 60%;
	margin-right: 2%;
    margin-bottom: 5px;
    max-width: 80%;
}

.recieved{
	position: relative;
	color: black;
	padding: 10px 10px 10px 12px;
	border-radius: 10px;
	text-align: left;
	background-color: #c5c6c7;
	flex-direction: column;
    margin-left: 2%;
	margin-right: 60%;
    max-width: 80%;
	float: left;
    margin-bottom: 5px;
}

.message-card{
    color: white;
    border-bottom: 1px solid #66fcf1 ;
    width: 80%;
    margin-left: 20px;

}

.dropdown-div{
    margin-left: 20px;
    margin-top: 20px;
}

.green {
    width:30%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.ref-div{
    position: relative;
	padding: 10px 10px 10px 12px;
	border-radius: 10px;
	flex-direction: column;

    width: 80%;
	float: left;
    margin-bottom: 5px;
}

