.login-card {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    background-color: #1f2833;
    border-radius: 20px;
    padding: 1rem;
}

.card-image-login {
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 120px;
    position: relative;
}

.card-heading {
    position: absolute;
    left: 4%;
    top: 15%;
    font-size: 1.75rem;
    font-weight: 700;
    color: #66fcf1;

}

.card-heading small {
    display: block;
    font-size: .75em;
    font-weight: 400;
    margin-top: .25em;
}

.card-form {
    padding: 2rem 1rem 0;
}


.input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #45a29e;
    font: inherit;
    font-size: 1.125rem;
    padding: .25rem 0;
    width: 100%;
    margin-bottom: 10px;
    color: #c5c6c7

}

.input-field:focus,
.input-field:valid {
    outline: 0;
    border-bottom-color: #66fcf1;

}

.action-button {
    font: inherit;
    font-size: 1.25rem;
    padding: 1em;
    width: 100%;
    font-weight: 500;
    background-color: #66fcf1;
    border-radius: 6px;
    color: #1f2833;
    border: 0;

}

.action-button:focus {
    outline: 0;
}

.card-info {
    padding: 1rem 1rem;
    text-align: center;
    font-size: .875rem;
    color: #c5c5c5;

}
