nav {
    height: 100%;
    background-color: #212121;


}

.side-bar{
    width: 105px;
    border: 1px solid black;
    position: fixed;
    z-index: 10;

}

nav a, nav a:visited, nav a:hover, nav a:active {
    display: block;
	color: #45a29f;
	text-decoration: none;
    padding: 10px;
  }

nav a:hover, nav a:active{
    color: #66fcf1;
}
  

a, a:visited, a:hover, a:active {
    text-decoration: none;
    padding: 10px;
    display: block;

}


  .action-button-1 {
    font: inherit;
    padding: 1em;
    width: 100%;
    font-weight: 500;
    background-color: #66fcf1;
    border-radius: 6px;
    color: #1f2833;
    border: 0;
    

}

a.logout {
    position: absolute;
    bottom: 100px
}

.dot {
    height: 10px;
    width: 10px;
    margin-left: 5px;
    background-color: rgb(133, 0, 0);
    border-radius: 50%;
    display: inline-block;
  }

