header {
    height: 80px;
    background: #66fcf1 ;
    position: sticky;
    width: 100%;
    z-index: 999;
    top: 0;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,.4);
    color: black;
    font-weight: 500;
    font-size: 2rem;   
    
}

.logo{
    position: relative;
    padding-top: 18px;
    padding-left: 20px;

}